<!doctype html>
<html lang="en">
  <head>
      <!-- Hi :D -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arca's site</title>
    {%- if page.requires_syntax_highlighting -%}
      <!-- Tiny bit of CSS for syntax highlighting, only loaded because this specific page has syntax highlighted code -->
      <link rel="stylesheet" href="{% link assets/syntax-highlight.css %}" />
    {%- endif -%}

    {%- feed_meta -%}
  </head>

  <body>
    <header>
      <p>
        <strong>Arca's site</strong>&ThickSpace;
        {%- if page.menu_title == 'Home' -%}
          [ Home ]
        {%- else -%}
          [
          <a href="{% link index.markdown %}">Home</a>
          ]
        {%- endif -%}
        &VeryThinSpace;
        {%- if page.menu_title == 'Projects' -%}
          [ Projects ]
        {%- else -%}
          [
          <a href="{% link projects.html %}">Projects</a>
          ]
        {%- endif -%}
        &VeryThinSpace;
        {%- if page.menu_title == 'Posts' -%}
          [ Posts ]
        {%- else -%}
          [
          <a href="{% link posts.html %}">Posts</a>
          ]
        {%- endif -%}
        &VeryThinSpace;
        {%- if page.menu_title == 'Interesting things' -%}
          [ Interesting things ]
        {%- else -%}
          [
          <a href="{% link interesting.html %}">Interesting things</a>
          ]
        {%- endif -%}
        &VeryThinSpace;
        {%- if page.menu_title == 'About' -%}
          [ About ]
        {%- else -%}
          [
          <a href="{% link about.markdown %}">About</a>
          ]
        {%- endif -%}
      </p>
    </header>
    <hr>

    <main>{{ content }}</main>

    <hr>
    <footer>
      <small>
        The lack of CSS is intentional{%- if page.requires_syntax_highlighting != true -%}, this page is 100% CSS-free{%- endif -%}.<br>
        Best viewed in Firefox.
      </small>
      <br>
      <a href="https://kernel.org"><img src="{% link assets/images/buttons/penguin.gif %}" height="31" /></a>
      <a href="https://fedoraproject.org"><img src="{% link assets/images/buttons/poweredbyfedora.gif %}" /></a>
      <img src="{% link assets/images/buttons/aperture_labs.jpg %}" />
      <a href="https://www.firefox.com"><img src="{% link assets/images/buttons/firefox_compatible.gif %}" /></a>
      <a href="https://consumerrights.wiki"><img src="{% link assets/images/clippy.png %}" height="31" /></a>
    </footer>
  </body>
</html>